In [1]:
print("python")

python

In [ ]:
%pyspark --version

In [8]:
%pwd

'/Users/nombauser/Desktop/GIT/my_git_repos/LearningSpark'

In [9]:
import pyspark

In [3]:
import pandas as pd
pd.read_csv('example.csv')

   SN    WalletId
0   1  8032536318
1   2  8037117048
2   3  7016607017
3   4  8055346011

In [6]:
from pyspark.sql import SparkSession as ss

In [11]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Exam").getOrCreate()

In [12]:
spark

In [18]:
df_pyspark = spark.read.csv('example.csv').show()
df_pyspark

+---+-----------+
|_c0|        _c1|
+---+-----------+
| SN|   WalletId|
|  1|08032536318|
|  2|08037117048|
|  3|07016607017|
|  4|08055346011|
+---+-----------+

In [25]:
df_pyspark2 = spark.read.option('header','true').csv('example.csv')

In [26]:
type(df_pyspark2)

pyspark.sql.dataframe.DataFrame

In [28]:
df_pyspark2.head(3)

[Row(SN='1', WalletId='08032536318'),
 Row(SN='2', WalletId='08037117048'),
 Row(SN='3', WalletId='07016607017')]

In [29]:
df_pyspark2.printSchema()

root
 |-- SN: string (nullable = true)
 |-- WalletId: string (nullable = true)

In [32]:
 !touch pySparkDataFrames.ipynb && code pySparkDataFrames.ipynb